.home {
    width: 100%;
    height: 650px;
    background-image: url(../images/homeBackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeIn 2s ease-in-out;
    z-index: -1;
}

 @keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.8;
    }
}

.home-text {
    color: white;
    text-align: center;
    position: relative;
    top: 180px;
}

.search{
    background-color: white;
    border-radius: 10px;
    padding: 17px 13px;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 210px;

}
.search-bar{
    display: flex;
    background-color: white;
    margin: auto;
    justify-content: space-evenly;
}
.search-bar input{
    width: 100%;
    border: none;
    color: #4E5F70;
    position: relative;
    bottom: 5px;
    font-weight: 700;
    color: #05264e;
    outline: none;
}


.search fieldset{
    border: 1px solid rgb(192, 202, 208);
    font-size: 11px;
    font-family:'Poppins';
    color: #4E5F70;
    font-weight: 500;
    height: auto;
    padding: 10px 8px 8px;
    border-radius: 5px;
}
.where-date{
    width: 30%;
}
.memb{
    width: 20%;
}
.search button{
    width: 10%;
    margin-top: 8px ;
    background-color: rgb(215, 44, 33);
    border: none ;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Poppins';
}

.search button:hover{
    background-color: rgb(255,230,229);
    color: white;
}
.loop{
    margin: auto;
    margin-right: 7px;
}
.selected-lang
{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}
.selected-lang::before
{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/BE/flat/64.png);
}
.selected-lang
.langu-menu
{
    margin-top: 6px;
}
.langu-menu ul
{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    border-radius: 5px ;
    display: none;
}

.langu-menu ul li
{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.langu-menu ul li a
{
    width: 140px;
    display: grid;
    padding: 2px 18px;
    color: red;

}
.langu-menu ul li a::before
{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url(https://flagsapi.com/BE/flat/64.png);


}
.langu-menu ul li a:hover
{
    background-color: #f2f2f2;

}
.de::before
{
    background-image: url(https://flagsapi.com/DE/flat/32.png);

}
.us::before
{
    background-image: url(https://flagsapi.com/DE/flat/64.png);

}
.langu-menu:hover ul{
    display: block;
}

/*Login-form, Register-form*/
.login, .register {
    visibility: hidden;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 498px;
    height: 607px;
    color: rgb(11,43,82);
    font-family: 'Poppins';
    font-weight: 500;
}


.login .login-head, .register .register-head {
    display: flex;
    height: 67px;
    padding: 16px;
    font-size: 15px;
    align-items: center;
    font-weight: 500;
}

.iks, .iks1{
    cursor: pointer;
    position: absolute;
    right: 25px;
}


.login-form, .register-form {
     height: 480px;
     font-size: 15px;
     border-top: solid 0.1px  rgb(173,181,189);
     border-bottom: solid 0.1px  rgb(173,181,189);
     padding: 16px;
}

.login-form input, .register-form input {
    color: rgb(11,43,82);
    font-weight: 700;
}

.register-form {
    padding: 24px 16px;
}


.login-form form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 11%;
}

.register-form form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10%;
}

.login-input{
    width: 466px;
    height: 320px;
    padding: 24px 16px;
    color: rgb(11,43,82);
}

.login-change, .login-change, .share
 {
    border: 1px solid rgb(173,181,189);
    border-radius: 5px;
    width: 434px;
    height: 58px;
    padding: 16px 12px;
}
.login-form .check{
    display: flex;
    justify-content: space-between;
}

.login .socials {
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
}

.login .socials i {
    font-size: 28px;
    margin: auto;
    margin-top: 15px;
}

.login .socials .social {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px dashed rgb(173,181,189);
}

.login .login-end, .register .register-end{
    height: 60px;
    align-content: center;
}

.login .login-end p, .register .register-end p {
    font-size: 15px;
}
.name-surname {
    display: grid;
    width: 434px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-top: 5px;
}

.divider {
    position: relative;
    top: 2px;
    margin: auto;
}

#register-name, #register-surname {
    width: 100%;
}

.login .remember-me1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.login a {
    text-decoration: none;
    color: rgb(206,46,37);
}

.login .sregister, .register .signbutton {
    color: rgb(206,46,37);
}

.login a:hover, .login .sregister:hover, .register .signbutton:hover, .iks:hover, .iks1:hover{
    cursor: pointer;
}

.login button, .register button {
    background-color: rgb(206,46,37);
    color: white;
    font-weight: 300;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 22.5px;
    height: 62px;
    border: 2px solid transparent;
 }

.login  button:hover, .register button:hover {
    cursor: pointer;
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
}

#remember-me {
    position: relative;
    top: 2px;
    left: 1px;
}

.login span, .register span {cursor: pointer;}

.login-special, .register-special{
    visibility: visible;
}

.body-special {
    overflow: hidden;
}

/*offers*/
.sales-container {
    width: 87%;
    display: flex;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-top: 40px;
    gap: 2%;
}

.sales {
    display: flex;
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 100%;
    height: auto;
}
.sales img {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 4px;
}

.offpercent {
    display: grid;
    grid-template-rows: 3fr 2fr;
    gap: 3px;
    padding: 10px;
}

.offpercent p {
    font-size: 14px;
    color: rgb(95,115,136);
}

/*Download*/

.app {
    background-color: rgb(255,230,229);
    width: 87%;
    height: 275px;
    margin: auto;
    border-radius: 10px;
}
.app .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.app-container {
    display: grid;
    padding: 14px;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    height: 100%;
    color: rgb(5,38,78);
}

.app-container .left {
   padding: 16px;
}

.app-container .left .download img{
    margin: auto;
}
.app-container .left .download{
    display: grid;
    grid-template-columns: 1fr 5fr;
 }

 .app-container .left  h4 {
    font-size: 30px;
 }
 .app-container .left .mobile  {
    width: 70%;
    margin-left: 30px;
 }
 .app-container .left .mobile form {
    height: 75px;
    background-color: white;
    align-content: center;
    border-radius: 5px;
 }

 .app-container .left .mobile form label {
    padding: 20px;
 }
 .app-container .left .mobile form input{
    border: none;
    outline: none;
    width: 57%;
    height: 45px;
    font-size: 18px;
    color: rgb(5,38,78);

 }

 .app-container .left .mobile form button {
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 45px;
    background-color: rgb(215,44,34);
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
 }

 .app-container .mobile  form button:hover{
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
}

 .app-container .right {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
 }

 .app-container .right i {
    font-size: 40px;
    margin-right: 20px;
    color: white;
 }
 .app-container .right .playstore{
    display: flex;
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 217px;
    height: 83px;
    background-color: rgb(14,30,43);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 250px;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;

 }

 .app-container .right  .same {
    position: relative;
    bottom: 3px;

 }

 .app-container .right p {
    color: rgb(238, 248, 255);
 }
 .app-container .right span {
    font-size: 18px;
    color: white;
 }

 .app-container .right .appstore{
    display: flex;
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 83px;
    background-color: rgb(215,44,34);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    left: 217px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
 }
 .app-container .right .appstore:hover, .app-container .right .playstore:hover{
    background-color: rgb(0, 0, 0);
 }

/*Homepage - destinations*/
.routes {
    display: grid;
    width: 87%;
    height: 100px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5%;
    cursor: pointer;
    margin-bottom: 300px;
}

.routes-same {
    box-shadow: 0px 0px 5px 0px rgb(199, 202, 204);
    border-radius: 5px;
    width: 100%;
    height: 370px;

}

.routes-image {
    overflow: hidden;
    width: 100%;
    height: 240px;
    border-radius: 5px;
}

.routes img {
    width: 100%;
    height: 240px;
    border-radius: 5px 5px 0px 0px;
    transition: transform 0.3s ease;
}

.routes img:hover{
    transform: scale(1.2);
}

.destinations .top, .rental .top {
    width: 87%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px;
    color: rgb(5,38,78);
}

.destinations .top button, .rental .top button {
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 45px;
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
    font-size: 14px;
    font-weight: 500;
}
.destinations .top button:hover, .rental .top button:hover{
    background-color: rgb(215,44,34);
    color: white;
    cursor: pointer;
}
.directions {
    margin-top: 7px;
}
.directions h4{
    font-weight: 600;
    color: rgb(5,38,78);
    padding-left: 15px;
    font-size: 16px;
}
.directions p{
    font-size: 14px;
    padding-left: 15px;
    color: rgb(95,115,136);
}
.cost {
    display: flex;
    justify-content: end;
    padding: 15px;
}

.cost h5, .cost p {
    align-content: end;
}

.cost h5 {
    font-size: 23px;
    color: rgb(5,38,78);
}

.cost p {
    position: relative;
    font-size: 14px;
    margin-right: 10px;
    bottom: 3px;
    color: rgb(95,115,136);
}

.routes-different {
    height: 370px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(199, 202, 204);
    align-content: end;
    cursor: auto;
    overflow: hidden;
    cursor: pointer;

}

.routes-different img, .card-different img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(199, 202, 204);
    z-index: -1;
}

.routes-different h4, .card-different h4{
    z-index: 2;
    font-weight: 700;
    color: white;
    font-size: 17px;
    position: relative;
    bottom: 150px;
    left: 25px;
}

.routes-different button, .card-different button{
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    background-color: rgb(196,41,29);
    color: white;
    font-weight: 700;
    font-size: 15px;
    position: absolute;
}
.routes-different button:hover, .card-different button:hover {
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
    cursor: pointer;
}

/*Property*/
  .card-container
  {
    display: flex;
    width: 87%;
    gap: 1.5%;
    margin: auto;
    height: 400px;
  }
  .card
  {
    display: grid;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s;
    width: 100%;
    height: 400px;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
  }
  .card:hover{
    transform: translateY(-10px);
  }
.card .image
{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card img {
    height: 180px;
    width: 100%;
}


.card-container1 {
    height: 220px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
}

.card-different {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;

}

.card-different img {
    transition: transform 0.3s ease;

}

.card-different img:hover{
    transform: scale(1.2);
}


.property-same {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    }
.property-same a
{
    font-family: 'Poppins';
    text-decoration: none;
    border: 1px dashed rgb(135,147,160);
    color: #45596C;
    border-radius: 2px;
    padding: 3px;
    font-size: 12px;
}

.head button
{
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    color: #27A974;
    background-color: #D4EEE3;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    right: 2px;
}

.end button {
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    right: 2px;
}

.card .end {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
}


footer {
    background-color: #f9f9f9;
    padding: 20px;
}

.footer-container {
    max-width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h3 {
    color: #003366;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;

}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
}


.social-links a,
.payment-links a,
.partner-links a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #555;
    
}

.social-links a:hover,
.payment-links a:hover,
.partner-links a:hover {
    color: #003366;
}
.footer-section .payment-links img
{
width: 400px;
height:40px;
}

.footer-buttom {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
    
}
.footer-buttom a
{
    text-decoration: none;
    
}
.footer-section li
{
    line-height: 40px;
}
.footer-section li :hover
{
    color: red;
    text-decoration: none;
}
.footer-section img
{
    width: 170px; 
    height:55px;
    /* margin-top: 20px; */
}
.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    margin-top: 15px;
    color: #003366;
}
.partner-links img
{
    width: 100px; 
    height: 40px;
}
.partner-links
{
    display: grid;
    grid-template-columns: 122px 125px 134px;
}
.partener1
{
    display: grid;
}
.footer-section
{
    line-height: 28px;
}
.social-links a 
{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
}

.footer-buttom .Terms 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px;
} 
.footer-section .social-links a
{
    background-color: #dce5eb !important;
}
.footer-section .social-links a:hover
{
    background-color: #f0f5f8 !important;
    color: #FFFFFF;
    transition: 0.5s;
}
.payment-links 
{
    margin-top: -20px;
}
.partner-links
{
    margin-top: -20px;
}
.html
{
    scroll-behavior: smooth;
}
.gotopbtn
{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size:  22px;
    border: 20px soldi beige;

}