.home {
    width: 100%;
    height: 650px;
    background-image: url(../images/homeBackground.webp);
    animation: fadeIn 2s ease-in-out;
    z-index: -1;
}

 @keyframes fadeIn {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 0.8;
    }
}

.home-text {
    color: white;
    text-align: center;
    position: relative;
    top: 220px;
}

.search{
    background-color: white;
    border-radius: 10px;
    padding:17px 13px;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 300px;

}
.search-bar{
    display: flex;
    background-color: white;
    margin: auto;
    justify-content: space-evenly;
}
.search-bar input{
    border: none;
    color: #4E5F70;
    position: relative;
    bottom: 5px;
    font-weight: 700;
}

.search-bar input:focus{
    outline: none;
}

.search fieldset{
    border: 1px solid rgb(192, 202, 208);
    font-size: 11px;
    font-family:'Poppins';
    color: #4E5F70;
    font-weight: 500;
    height: auto;
    padding: 10px 8px 8px;
    border-radius: 5px;
}
.where-date{
    width: 30%;
}
.memb{
    width: 20%;
}
.search button{
    width: 10%;
    margin-top: 8px ;
    background-color: rgb(196, 41, 29);
    border: none ;
    border-radius: 5px;
    color: white;
}
.loop{
    margin: auto;
    margin-right: 7px;
}
.selected-lang
{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
}
.selected-lang::before
{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/BE/flat/64.png);
}
.selected-lang
.langu-menu
{
    margin-top: 6px;
}
.langu-menu ul
{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    border-radius: 5px ;
    display: none;


}

.langu-menu ul li
{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.langu-menu ul li a
{
    width: 140px;
    display: grid;
    padding: 2px 18px;
    color: red;

}
.langu-menu ul li a::before
{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url(https://flagsapi.com/BE/flat/64.png);


}
.langu-menu ul li a:hover
{
    background-color: #f2f2f2;

}
.de::before
{
    background-image: url(https://flagsapi.com/DE/flat/32.png);

}
.us::before
{
    background-image: url(https://flagsapi.com/DE/flat/64.png);

}
.langu-menu:hover ul{
    display: block;
}

.login {
    visibility: hidden;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: white;
    backdrop-filter: blur(5px);
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 450px;
    height: auto;
}

.login .remember-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login h2 {
    font-size: 27px;
    font-weight: 700;
    margin: auto;
    margin-top: 50px;
}

.login button {
    background-color: #271930;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    border: 2px solid transparent;
 }

.login  button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
    }

.remember-me1 {
    display: flex;
    justify-content: space-between;
}
.remember-me1 label, .remember-me1 a, .login{
    font-size: 12px;
    text-decoration: none;
    color: #FFFFFF;
}


.login .login-change  {
    margin: auto;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login p, .login a {
    color: white;
    margin-bottom: 40px;
}

.login .header {
    display: flex;
}

.login .header p {
    position: absolute;
    top: 5%;
    right: 7%;
}

.iks {cursor: pointer;}

.login-special{
    visibility: visible;
}



