/*Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Poppins',sans-serif;
    line-height: 1.55;
}

header {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr ;
    height: 76px;
    width: 100%;
    padding: 13px 0px;
    position: fixed;
    z-index: 10;
    transition: background-color 1s ease;
}
.logo {
    position: relative;
    padding-top: 2.5px;
}
header img {
    width: 140px;
    height: 45px;
    margin: auto 20px auto 50px;
}
header ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
    margin-left: 20px;
    font-size: 14px;
}

header h3 {
    display: flex;
    margin: auto;
    color: white;
}

header ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFf;
}

header ul li {
    list-style: none;
}

.icon {
    margin-right: 8px;
}

header form {
    margin: auto;
    margin-right: 50px;
}

header .langu-menu {
    margin: auto;
    margin-left: 20px;
    color: white;
}

.login-register {

    margin: auto;
    margin-right: 40px;
    color: white;
    height: 45px;
}

.login-register #sign-in {
    font-family: 'Poppins';
    display: inline-block;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 100%;
    background-color: rgb(196,41,29);
    color: white;
    letter-spacing: .8px;
}

.login-register #sign-in:hover{
    cursor: pointer;
    background-color: rgb(255,230,229);
    color: rgb(215,44,34);
}