/*Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 18px;
}

body{
    font-family: 'Poppins',sans-serif;
    line-height: 1.55;
}

nav {
    display: flex;
    height: 76px;
    width: auto;
    padding: 13px 0px;
    background-color: rgb(4,22,37);

}
.logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: auto 50px;
    margin-right: 2px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 30px;
    margin-left: 50px;
}

nav h3 {
    display: flex;
    margin: auto;
    color: white;
}

nav ul a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFFFFf;
}

nav ul li {
    list-style: none;
}

.icon {
    margin-right: 8px;
}

nav form {
    margin: auto;
    margin-right: 50px;
}

nav .langu-menu {
    margin: auto;
    margin-left: 20px;
    color: white;
}

.login-register {

    margin: auto;
    margin-right: 40px;
    color: white;
    height: 36px;
}

.login-register #sign-in {
    font-family: 'Poppins';
    display: inline-block;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 100%;
    background-color: rgb(196,41,29);
    color: white;
}